@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #eee5e9;
    font-family: 'Inter', sans-serif;}



#screen{
    width: 75%;
    margin: auto;
    padding-top: 10px;
}

.textAreaTitle{
    background-color: #383d3b;
    width: 90%;
    padding: 10px;
    margin: 10px 0px 0px 10px;
    border-width: 3px;
    color: #ffffff;
    font-size: 20px;

}

#editor{
    margin: 0px 10px;
    width: 90%;
    height: 200px;
    padding: 10px;
    border-width: 0px;
    border-radius: 0px 0px 5px  5px;
}

#preview{
    padding: 10px;
    width:90%;
    margin: 0px 10px;
    border-radius: 0px 0px 5px  5px;
    background-color: #ffffff;
}

#preview img{
    width: 100%;
}

#preview h1{
    font-size: 40px;
}

#preview h2{
    font-size: 35px;
}

#preview h3{
    font-size: 30px;
}

#preview h4{
    font-size: 25px;
}

#preview h5{
    font-size: 20px;
}

#preview h6{
    font-size: 15px;
}

#preview ul{
    list-style-type: disc;
}

#preview ol{
    list-style-type: decimal;
}
#preview blockquote{
    border-left: solid;
    padding-left: 15px;
    margin-left: 15px;
    border-color: #52dee5;
}

#preview pre{
    padding: 10px;
    background-color: #92dce5;
    border-radius: 5px;
    font-family: 'sans-serif';
}

#preview p code{
    background-color: #92dce5;
    border-radius: 5px;
    padding: 2px 4px;
    font-family: 'sans-serif';
}

#author{
    text-align: center;
    color: #383d3b;
}

th, td{
    border: 2px solid;
    padding: 6px
}
table{
    border-collapse: collapse;
}